@import url(./_poisiton/_header_poisiton_center.css);
@import url(./__logo/header__logo.css);

.header {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
