.footer_position_center {
  width: 68.91%;
  max-width: 882px;
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 539px) {
  .footer_position_center {
    width: 88.12%;
    margin: 48px auto 0;
    padding-bottom: 36px;
  }
}
