.header_position_center {
  width: 68.91%;
  max-width: 882px;
  height: 74px;
  justify-self: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 18px;
}

@media screen and (max-width: 539px) {
  .header_position_center {
    width: 91%;
    padding: 13px 0 14px 27px;
    height: 56px;
  }
}
